# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
downloads/
var/
wheels/
*.zip

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Virtualenv / pyenv
.python-version
.env
.venv
venv/
ENV/

# Configuration
*.cfg
lib/env.py

# Data source
tensorflowlog/
*.csv
*.parquet
*.p