body, html {
    height: 100%;
}

.bg {
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-image: url("http://drive.google.com/uc?export=view&id=1AcxgCdX_IdJjcWfLF7JLVEuTxT91-_lf");
    background-size: cover;
}